AI_app/__pycache__/
AI_app/api/__pycache__/
AI_app/llm/__pycache__/
certs/
DB_app/__pycache__/
DB_app/api/__pycache__/
DB_app/db/__pycache__/
Merge_app/__pycache__/
Merge_app/api/__pycache__/
Merge_app/db/__pycache__/
Merge_app/llm/__pycache__/